.wrapper
  .side-bar
    .side-header 
      .s-h-box
        %p.username ken
        %ul.menu
          %li
          = link_to "#",class: "left-btn" do
            = icon('far fa-edit',  class: "icon")
          %li 
          = link_to "#",class: "right-btn" do
            = icon('fas fa-cog',  class: "icon")
    .groups
      .group
        .groupname
          てっくきゃんぷ
        .grouptext
          めっせーじはないです
      .group
        .groupname
          てっくきゃんぷ
        .grouptext
          めっせーじはないです
      .group
        .groupname
          てっくきゃんぷ
        .grouptext
          めっせーじはないです    


